@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600)

@import "variables"

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap"

@import "fonts"

body
	padding-top: 50px

.navbar-toggle
	float: left
	margin-right: 0
	margin-left: 15px

.call-us
	display: inline-block
	float: right
	margin-right: 15px
	padding: 14px 0
	line-height: 22px
	height: 50px

.main-banners-container
	height: 180px
	.item
		text-align: center
		background: transparent url(../images/banner-home-01.jpg) no-repeat center center
		background-size: cover
		height: 100%
	p
		color: white
		width: 185px
		padding-top: 50px
		margin-left: 5%
		span
			display: block
			line-height: 1em
		span.one
			font-size: 2em
		span.two
			font-size: 1.6em
			text-align: right
		span.three
			font-size: 3em
.home-title
	text-align: center
.home-services-container
	.item
		.service
			display: inline-block
			width: 49%
			text-align: center
			margin-bottom: 15px
			margin-top: 15px
			img
				width: 80%
			.description
				color: black
				display: block
				margin: 5px auto 0 auto
				text-transform: uppercase
				line-height: 1.3em
				font-size: .8em
.row.who-we-are
	background: transparent url(../images/quienes-somos-background.jpg) no-repeat center center
	background-size: cover
	padding-top: 40px
	padding-bottom: 20px
	color: white
	text-align: center
.text-title
	text-align: center
.more
	.icon-mas
		background red
._25-years
	background: red
	color: white
	text-align: center
._25-years-text
	padding-top: 30px
	padding-bottom: 30px
	font-size: 1.4em
	line-height: 1.2em
	span.one
		font-size: 2em
.advantages
	text-transform: uppercase